.wrapper-dark {
	width: 400px;
	height: 600px;
	background-color: #262652;
	color: white;
	padding: 10px;
}

.wrapper-light {
	width: 400px;
	height: 600px;
	background-color: #e0e0e0;
	color: black;
}

.flexWrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	/* margin: 10px; */
}

.dateWrapper {
	background-color: #656588;
}

.gamesWrapper {
	margin-top: 10px;
}

/* .dateWrapper {
	position: absolute;
	height: 6%;
	top: 2%;
	left: 2%;
	width: 96%;
	text-align: center;
	background-color: #433e6d;
}

.gamesWrapper {
	position: absolute;
	height: 88%;
	top: 8%;
	left: 2%;
	width: 96%;
	top: 10%;
} */